<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQL" connectionString="SERVER=vpn.etellez.net; PORT=3306; DATABASE=chat_project; UID=project_user; PASSWORD=$$JoYf3FTWNiGGa$$;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key ="IP-ADDRESS" value="162.243.214.24"/>
    <add key ="PORT" value = "8000"/>
  </appSettings>
</configuration>
