<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQL" connectionString="SERVER=162.243.214.24; PORT=3306; DATABASE=chat_project; UID=project_user; PASSWORD=$$JoYf3FTWNiGGa$$;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
